@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --collo-branco: #ffffff; /* Added a semicolon to fix syntax error */
    --color-preto: #141213;
    --color-azul: #0d426a;
    --color-ciano: #08edff; 
    --color-verdec: #0ffff8;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
}

#person {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: #141213;
}

.person-continua {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #141213 */
}

/* Texto principal */
.person-continua div h1 {
    color: #141213;
    padding: 0px 4px;
    position: relative;
    width: fit-content;
    font-size: 4.5rem;
    line-height: 6rem;
}
/* Fim do texto principal */
.tex1 {
    animation: written_text 1s ease forwards; 
    animation-delay: 1.0s;
}
.tex2 {
    animation: written_text 1s ease forwards; 
    animation-delay: 2s;
}
.tex3 {
    animation: written_text 1s ease forwards; 
    animation-delay: 2s;
}




.person-continua div h1:nth-child(1) {
    animation-delay: 1s forwards;
}

.person-continua div h1:nth-child(2) {
    animation-delay: 2s forwards; 
}

.person-continua div h1:nth-child(3) {
    animation: written_text_name 0.2s ease forwards;  
    animation-delay: 3s; 
}

.person-continua div h1 span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: #08edff;
    width: 0px;
    height: 100%;
    background: var(--color-verdec);
    animation: written_text_box 0.9s ease;
    animation-delay: 0.5s;
}

.person-continua div h1:nth-child(1) span {
    animation-delay: 0.4s;
}

.person-continua div h1:nth-child(2) span {
    animation-delay: 1.5s;
}

.person-continua div h1:nth-child(3) span {
    animation-delay: 2.5s;
}

.person-nome {
    margin-top: 11rem;
}

.stacks-content {
    display: flex;
    justify-content: center;  
    flex-direction: column;
    margin-top: 5%;  
}

.stacks-content h3 {
    color: azure;
    font-size: 1.5rem;
    margin-left: 0px;
}

.stacks {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.stacks ul li {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.stacks ul li img {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
}


.stacks ul li div img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.stacks ul li div:hover::after {
    content: attr(data);
    position: absolute;
    top: 50px;
    left: 10px;
    
    width: 20px;
    height: 20px;
    
    color: #ffffff;
}



.person-fundo{
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    flex-direction: column;
    

    background-image: url(./img/pc-na-mesa-anoite.jpg);
    background-size: cover;
    background-position: top center; 
    z-index: 1;
}

.person-fundo ::after {
    content: "";
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity:  .9;
    z-index: -3;
    
    /* resolver o problema deste código, borda atrapalha na animação */
    
    /* background:
    linear-gradient(180deg, transparent 55%,#000000),
    linear-gradient(145deg, transparent 90%,#000000),
    linear-gradient(137deg, transparent 90%,#000000); */
    
}

.circle {
    position: absolute;
    width: 315px;
    inset: -1 ;
    display: block;
    /* justify-content: center; */
    /* align-items: stretch; */
    aspect-ratio: 1 ;
    z-index: 0;
    /* display: flex; */

    object-fit: cover;
    border-radius: 50%;
    
    padding: 100px;
    margin: -13px -14px;
    background: 
    radial-gradient(rgba(0,0,0,0.15) 90%, transparent 10% ),
    radial-gradient(#000 68%, transparent 0%),
    linear-gradient(to top right, #000000 12%, #0ffff8 80%, #000000 3% , #0ffff8 80%);
    animation: rotate 1s ease-in infinite;
    
}



.envelope-foto-perfil img {
    width: 290px;
    border-radius: 300%;
    height: 290px; 
     
     
}

.envelope-foto-perfil img{
    /* width: 0px; */
    border-radius: 50%;
    /* height: 290px; */
    content: "";
    top: 0;
    left: 0;
    height: 290PX;
    width: 290PX;
    opacity:  .9;
    z-index: -1;
    place-items: center;
   

}

.links a img {
    width: 50px;
    height: 50px;
    margin: 50px;
    /* filter: brightness(.8); */
    transition: .7s ease;


}

.links a img:hover {
    filter: brightness(9);
    transform: scale(1.7);
    /* box-shadow: -10px -10px 100px rgb(89, 0, 255); */
    

}
/* {position:relative;top:0} */
.links a img:hover{
    /* arrumar esse código daqui */
    
    position:relative;
    top: 0px;
    top: 0px;
    filter:drop-shadow( 0px 10px 60px #ffffff); 
    transition: all .7s ease-in initial;
    /* border-radius: 80%; */
    /* background-color: #003afa; */
}
/*final da primeira pagina*/






/* aniomaçoes */
@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes written_text {
    100% {
        color: #ffffff;
    }
}

@keyframes written_text_name {
    100% {
        color: var(--color-ciano);
    }
}

@keyframes written_text_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

